{{#modal-frame title='OO File Browser Demo' close='removeModal' closeTxet="close" okText="" modal-header-close-btn=true}}
	<div class="model-content">
		<p>
  			This is a simple application to browse your Google Drive files.<br> 
  			Built entirely to learn Ember.js framework and Google Drive API.
  			<a href="https://github.com/Oz0124/my-gdrive-browser" target="_blank">Github</a>
  		</p>
  	</div>
{{/modal-frame}}
