{{#modal-frame title='Edit folder name' ok='ok' okText='OK' close='removeModal' closeText='Cancel' modal-header-close-btn=true}}
	<div class="model-content">
		<div class="form-group">
		    <input type="text" class="form-control" id="inputName" {{bind-attr value='model.node.title'}}>
		</div>
	</div>
{{/modal-frame}}