{{#modal-frame title='File Browser from:' okText='' close='removeModal' closeText='' modal-header-close-btn=true}}
	<div class="model-content">
  		{{g-auth-login-btn gDriveLogin='gDriveLogin'}}
	</div>
{{/modal-frame}}