{{#modal-frame title='Create folder' ok='ok' okText='Create' close='removeModal' closeText='Cancel' modal-header-close-btn=true}}
	<div class="model-content">
		<div class="form-group">
		    <input type="text" class="form-control" id="inputName" {{bind-attr value='model.title'}}>
		</div>
	</div>
{{/modal-frame}}