{{#modal-frame title='Delete folder' ok='ok' okText='Delete' close='removeModal' closeText='Cancel' modal-header-close-btn=true}}
	<div class="model-content">
		Are you sure to delete folder {{model.node.title}}?
	</div>
{{/modal-frame}}