{{#modal-frame title='Delete file' ok='ok' okText='Delete' close='removeModal' closeText='Cancel' modal-header-close-btn=true}}
	<div class="model-content">
		Are you sure to delete file {{model.title}}?
	</div>
{{/modal-frame}}