{{#modal-frame title='Upload file' ok='ok' okText='' close='removeModal' closeText='' modal-header-close-btn=true backdrop='static'}}
	<div class="model-content">
		{{#upload-file-btn model=model}}Select file{{/upload-file-btn}}
	</div>
{{/modal-frame}}