{{#modal-frame title='更改資料夾名稱' ok='ok' okText='確定' close='removeModal' closeText='取消' modal-header-close-btn=true}}
	<div class="model-content">
		<div class="form-group">
		    <input type="text" class="form-control" id="inputName" {{bind-attr value='model.node.title'}}>
		</div>
	</div>
{{/modal-frame}}