{{#modal-frame title='數據傳輸中，請稍候...' okText='' close='removeModal' closeText='' modal-header-close-btn=false backdrop='static'}}
	<div class="model-content">
		<div class="progress">
		  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
		  </div>
		</div>
	</div>
{{/modal-frame}}