{{#modal-frame title='上傳檔案' ok='ok' okText='' close='removeModal' closeText='' modal-header-close-btn=true backdrop='static'}}
	<div class="model-content">
		{{#upload-file-btn model=model}}選擇檔案{{/upload-file-btn}}
	</div>
{{/modal-frame}}